.example-wrap {
    display: flex;
    justify-content: center;
  }
  .k-form {
    width: 400px;
  }
  .content {
    padding: 30px;
    color: #787878;
    background-color: #fcf7f8;
    border: 1px solid rgba(0, 0, 0, 0.05);
  }